asgiref==3.4.1
astroid==2.8.4
attrs==21.2.0
black==21.10b0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
cloudinary==1.28.0
colorama==0.4.4
dj-database-url==0.5.0
Django==3.2.9
django-cloudinary-storage==0.3.0
django-cors-headers==3.10.0
django-filter==21.1
django-heroku==0.3.1
django-versatileimagefield==2.2
djangorestframework==3.12.4
djangorestframework-serializer-extensions==2.0.1
djangorestframework-simplejwt==5.0.0
drf-flex-fields==0.9.6
drf-spectacular==0.21.0
gunicorn==20.1.0
hashids==1.3.1
idna==3.3
inflection==0.5.1
isort==5.10.1
jsonschema==4.2.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
psycopg2==2.9.2
PyJWT==2.3.0
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyrsistent==0.18.0
python-decouple==3.5
python-magic==0.4.24
pytz==2021.3
PyYAML==6.0
regex==2021.11.10
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.2
typing-extensions==3.10.0.2
uritemplate==4.1.1
urllib3==1.26.8
whitenoise==5.3.0
wrapt==1.13.3
